h1{
    color: blue;
    text-align: center;
    padding: 20px;
    font-size: 4rem;
    background-color: aqua;
}
.main-nav ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}
.site-header{
    color: red;
    text-align: center;
    background-color: green;
    font-size: 3rem;
}
p{
    text-align: center;
    background-color: darkcyan;
    font-size: 32px;

}
h2{
    color:palevioletred;
    text-align: center;
    font-size: 2rem;
}
nav a{
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 2rem;
    padding: 2rem;
}
.contact{
    color: green;
    background-color: lightgreen
}
.about{
    background-color: khaki;
}
.site-footer{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
}
.hero{
    background-color: yellowgreen;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
.counter{
    width: 90%;
    max-width: 12rem;
    margin: auto;
}

